.node-context {
  position: absolute;
  background-color: #fff;
  border: 1px solid #000;
  z-index: 9999;
}

.node-context__button {
  padding: 5px 10px;
  cursor: pointer;
  border-bottom: 1px solid #000;
}

.node-context__button--last {
  border-bottom: 0;
}

.node-label-modal {
  width: 100%;
}

.node-label-modal__container {
  width: 100%;
  display: flex;
  align-items: center;
}

.node-label-modal__title {
  font-size: 18px;
  margin-right: 10px;
}

.node-label-modal__input {
  width: 100px;
  height: 25px;
  padding-right: 8px;
}
